
<% provide(:title, 'About') %>
<h1>About the Application</h1>
<p>The application is designed to be challenging, but also rewarding. You will get a chance to discuss your personal career path, views on community service, self-governance, and a topic of your choice. We will be in contact once you have submitted your application, but feel free to contact the <a href="mailto:madelinehuberth@gmail.com">Recruitment Chair</a> if you have questions with this portion of the application.
</p>