<footer class="footer">
  <small>
    A work in progress...
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://www.telluride-house.org/">Telluride House</a></li>
    </ul>
  </nav>
</footer>